{dist_node,[{setcookie, cookie}, {name,  rebar_cover_fails}]}.

{alias,[
        {test,[
               eunit,
               {ct,"--name ct --sys_config=config/sys.config --readable true --cover --verbose true"},
               cover
              ]}
       ]}.

{relx,[{release,{rebar_cover_fails, {semver,[]}},[rebar_cover_fails]},
       {vm_args,"./config/vm.args"},
       {sys_config,"./config/sys.config"},
       {include_erts,false},
       {extended_start_script,true},
       {dev_mode,true}]}.

{cover_enabled,true}.

{cover_excl_mods,[]}.

{cover_opts,[verbose]}.

